
<div class="application-form">
  <%= semantic_form_for @app do |f| %>
    <%= f.inputs :name => "Basic" do %>
      <%= f.input :company %>
      <%= f.input :location %>
      <%= f.input :url, :label => "URL of the Job Posting" %>
      <%= f.input :applied_on, :as => :string, :input_html => { :value => Date.today } %>
      <%= f.input :status, :as => :select, :collection => Application.statuses %>
      <%= f.input :tier, :as => :select, :collection => Application.tiers %>
      <%= f.input :priority, as: :select, collection: Application.priorities %>
      <%= f.input :position, label: "Position" %>
      <%= f.input :contact_info, label: "Contact Information", input_html: { class: 'autogrow', rows: 5, cols: 10 } %>
      <%= f.input :notes, label: "Notes" %>
    <% end %>
    <%= f.submit "Save" %>
  <% end %>
</div>
