<div class="application">
  <h1>
    <%= @application.company %>
  </h1>
  <table class="table table-striped">
    <tr>
      <th>Location</th>
      <td>
        <%= @application.location %>
      </td>
    </tr>
    <tr>
      <th>URL</th>
      <td>
        <%= link_to @application.url, @application.url %>
      </td>
    </tr>
    <tr>
      <th>Applied On</th>
      <td>
        <%= @application.applied_on %>
      </td>
    </tr>
    <tr>
      <th>Tier</th>
      <td>
        <%= @application.tier %>
      </td>
    </tr>
    <tr>
      <th>Priority</th>
      <td>
        <%= @application.priority %>
      </td>
    </tr>
    <tr>
      <th>Status</th>
      <td>
        <%= @application.status %>
      </td>
    </tr>
    <tr>
      <th>Contact Information</th>
      <td>
        <%= @application.contact_info %>
      </td>
    </tr>
  </table>
  <ul class="actions">
    <li>
      <%= link_to "Edit", edit_application_path(@application), :id => "edit_application_#{@application.id}" %>
    </li>
  </ul>
  <h2>Recorded Steps</h2>
  <%= button_to "Add a Step", new_application_step_path(@application), :id => 'add_step', :class => "btn btn-default", :method => :get %>
  <% @application.steps.order(:created_at).each do |step| %>
    <div class="step <%= step.kind %>">
      <h3>
        <%= step.kind.humanize %>
      </h3>
      <%= markdown(step.note) %>
      <ul class="actions">
        <li>
          <%= link_to "Edit", edit_application_step_path(@application, step), :id => "edit_step_#{step.id}" %>
        </li>
        <li>
          <%= link_to "Delete", application_step_path(@application, step), :id => "delete_step_#{step.id}", :method => :delete %>
        </li>
      </ul>
    </div>
  <% end %>
</div>
