.application
  %h1= @application.company
  %table{:class => "table table-striped"}
    %tr
      %th Location
      %td= @application.location
    %tr
      %th URL
      %td= link_to @application.url, @application.url
    %tr
      %th Applied On
      %td= @application.applied_on
    %tr
      %th Status
      %td= @application.status

  %h2 Recorded Steps

  - @application.steps.order(:created_at).each do |step|
    %div{:class => "step #{step.kind}"}
      %h3= step.kind.humanize
      = markdown(step.note)
      %ul.actions
        %li= link_to "Edit", edit_application_step_path(@application, step), :id => "edit_step_#{step.id}"
        %li= link_to "Delete", application_step_path(@application, step), :id => "delete_step_#{step.id}", :method => :delete

  = link_to "Add a Step", new_application_step_path(@application), :id => 'add_step'
