.application{id: "application_#{application.id}"}
  %h3= application.company
  %ul
    %li= application.status
    %ul.steps
      - application.steps.each do |step|
        %li
          %em= step.kind
      %li= link_to "Add a Step", new_application_step_path(application), :id => 'add_step'
