%tr.application{id: "application_#{application.id}"}
  %th= link_to application.company, application
  %td
    %ul.steps
      - application.steps.each do |step|
        %li
          %span{:class => "label #{label_for(step.kind)}"}= step.kind
  %td
    = link_to 'edit', edit_application_path(application)
    = link_to 'remove', application_path(application), :method => :delete
