<div id="create_application_btn">
<%= button_to "Create a New Application", new_application_path, :id => "new_application", class: "btn-xs btn btn-default", :method => :get %>
</div>
<div id="bookmarklet">
  <a class="btn-xs btn btn-default" href="javascript:window.open('http://localhost:3000'+'/applications/new?url='
  +encodeURIComponent(location.href)+'&bookmarklet=true', 'windowName', 'width=600,height=500,resizable,scrollbars=yes,status=1');">
  Create Application Bookmarklet</a></br><p id="bookmarklet_help_txt">Drag to your favorites to add applications from any web page.</p></li>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%= render :partial => "partials/to_apply_applications" %>
    </div>
    <div class="col-md-3">
      <%= render :partial => "partials/in_progress_applications" %>
    </div>
    <div class="col-md-3">
      <%= render :partial => "partials/applied_applications" %>
    </div>
    <div class="col-md-3">
      <%= render :partial => "partials/closed_applications" %>
    </div>
  </div>
</div>
