%h1 Your Jobs Dashboard

#applications
  %h2 Active Applications

  = button_to "Create a New Application", new_application_path, :id => 'new_application', :class => "btn btn-default", :method => :get

  %table{:class => "table table-striped"}
    %thead
      %tr
        %th Company
        %th Steps
        %th Actions
    = render :partial => 'application', :collection => @to_apply_applications

  %hr

  - if @closed_applications.any?
    %h2 Closed Applications

    %table{:class => "table table-striped"}
      %thead
        %tr
          %th Company
          %th Steps
          %th Actions
      = render :partial => 'application', :collection => @closed_applications

  - if @in_progress_applications.any?
    %h2 In Progress Applications

    %table{:class => "table table-striped"}
      %thead
        %tr
          %th Company
          %th Steps
          %th Actions
      = render :partial => 'application', :collection => @in_progress_applications

  - if @applied_applications.any?
    %h2 Applied To Applications

    %table{:class => "table table-striped"}
      %thead
        %tr
          %th Company
          %th Steps
          %th Actions
      = render :partial => 'application', :collection => @applied_applications
